div:nth-of-type(odd){
    background: blue;
}




@font-face {
    font-family: "iconfont";
    /* Project id 1486093 */
    src: url('./font/iconfont.woff2?t=1656491737916') format('woff2'),
        url('./font/iconfont.woff?t=1656491737916') format('woff'),
        url('./font/iconfont.ttf?t=1656491737916') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iconcunweicaogao:before {
    content: "\e635";
}

.icontaolun:before {
    content: "\e634";
}

.iconcaogaoxiang:before {
    content: "\e633";
}

.iconweishiyong1:before {
    content: "\e6cc";
}

.icondaizhizuo1:before {
    content: "\e6cd";
}

.icondaiercidingan:before {
    content: "\e6ce";
}

.icondaifenpei:before {
    content: "\e6cf";
}

.iconzhizuozhong1:before {
    content: "\e6d0";
}

.icondaishenhe1:before {
    content: "\e6d1";
}

.iconyiwancheng1:before {
    content: "\e6d2";
}

.icondaidingan1:before {
    content: "\e6d3";
}

.iconfeiqi:before {
    content: "\e6d4";
}

.iconyidingyan:before {
    content: "\e6d5";
}

.iconyidingan1:before {
    content: "\e6d6";
}

.iconchakanyonghuhuizhi:before {
    content: "\e6ba";
}

.icondemo:before {
    content: "\e67c";
}

.iconzhizuojiesuan:before {
    content: "\e67d";
}

.iconchengpin:before {
    content: "\e67e";
}

.iconquanxianguanli-bianji:before {
    content: "\e6ca";
}

.iconquanxianguanli-shanchu:before {
    content: "\e6cb";
}

.iconfangqi:before {
    content: "\e6c9";
}

.iconhelp:before {
    content: "\e648";
}

.iconcaveat:before {
    content: "\e661";
}

.iconerror:before {
    content: "\e662";
}

.iconcorrect:before {
    content: "\e679";
}

.icongou:before {
    content: "\e632";
}

.iconzhizuoqingkuan:before {
    content: "\e6c4";
}

.icondengchu:before {
    content: "\e6c5";
}

.icongerenxinxi:before {
    content: "\e6c6";
}

.iconxiugaimima:before {
    content: "\e6c7";
}

.icongerenshouyi:before {
    content: "\e6c8";
}

.iconclose2:before {
    content: "\e631";
}

.iconshujutongji:before {
    content: "\e6c3";
}

.iconweishiyong:before {
    content: "\e61a";
}

.iconyizanding:before {
    content: "\e61b";
}

.iconyiwancheng:before {
    content: "\e61c";
}

.iconzhizuozhong:before {
    content: "\e61d";
}

.icondaidingan:before {
    content: "\e61e";
}

.icondaizhizuo:before {
    content: "\e61f";
}

.iconweitongbu:before {
    content: "\e620";
}

.iconercidingan:before {
    content: "\e621";
}

.iconfenxiang:before {
    content: "\e622";
}

.icondaishenhe:before {
    content: "\e623";
}

.iconyishenhe:before {
    content: "\e624";
}

.iconyidingan:before {
    content: "\e625";
}

.iconyitongbu:before {
    content: "\e62d";
}

.iconyifenpei:before {
    content: "\e62e";
}

.iconyizhizuo:before {
    content: "\e62f";
}

.icongedan:before {
    content: "\e630";
}

.icondemo-logo:before {
    content: "\e638";
}

.iconchengpinguanli:before {
    content: "\e6bf";
}

.iconheyueguanli:before {
    content: "\e6c0";
}

.iconjiesuanguanli:before {
    content: "\e6c1";
}

.iconzhizuorenwu:before {
    content: "\e6c2";
}

.iconshijian:before {
    content: "\e60e";
}

.iconzu:before {
    content: "\e610";
}

.iconzu3656:before {
    content: "\e626";
}

.iconzu3651:before {
    content: "\e627";
}

.iconzu3648:before {
    content: "\e628";
}

.iconzu3654:before {
    content: "\e629";
}

.iconzu3663:before {
    content: "\e62a";
}

.iconzu3649:before {
    content: "\e62b";
}

.iconzu3666:before {
    content: "\e62c";
}

.iconPFDtubiao:before {
    content: "\e6bd";
}

.iconPDFwenjian:before {
    content: "\e6be";
}

.iconshuju:before {
    content: "\e616";
}

.iconhetongguanli:before {
    content: "\e617";
}

.iconfahang_light:before {
    content: "\e618";
}

.iconshouyi:before {
    content: "\e619";
}

.iconwenhao1:before {
    content: "\e614";
}

.iconclose1:before {
    content: "\e60f";
}

.iconuploading:before {
    content: "\e6b5";
}

.iconchakanshuju:before {
    content: "\e60b";
}

.iconzhankai:before {
    content: "\e609";
}

.iconyincang:before {
    content: "\e60a";
}

.iconshangchuan:before {
    content: "\e607";
}

.icondelete:before {
    content: "\e6b4";
}

.iconaddinbulk:before {
    content: "\e6b2";
}

.iconemptydata:before {
    content: "\e6b1";
}

.icondownload:before {
    content: "\e6b0";
}

.iconfilter:before {
    content: "\e6a7";
}

.iconoperating_enable:before {
    content: "\e6a6";
}

.iconclose:before {
    content: "\e603";
}

.iconlist_verdict:before {
    content: "\e6a4";
}

.iconlist_distribution:before {
    content: "\e6a5";
}

.iconfanhui:before {
    content: "\e602";
}

.iconhandled:before {
    content: "\e6a3";
}

.iconupcoming:before {
    content: "\e6a2";
}

.iconfloatingbutton_edit:before {
    content: "\e69f";
}

.iconfloatingbutton_feedback:before {
    content: "\e6a0";
}

.iconfloatingbutton_determine:before {
    content: "\e6a1";
}

.iconfloatingbutton_submit:before {
    content: "\e69d";
}

.iconfloatingbutton_reset:before {
    content: "\e69e";
}

.icontobeproduced:before {
    content: "\e697";
}

.iconmaking:before {
    content: "\e698";
}

.icondistribution:before {
    content: "\e699";
}

.icondecision:before {
    content: "\e69a";
}

.iconverdict:before {
    content: "\e69b";
}

.iconpendingreview:before {
    content: "\e69c";
}

.iconfeedback:before {
    content: "\e694";
}

.iconsonglist:before {
    content: "\e695";
}

.iconexport:before {
    content: "\e696";
}

.iconlistdropdown:before {
    content: "\e693";
}

.iconincrease:before {
    content: "\e690";
}

.icondetermine:before {
    content: "\e691";
}

.iconcutoff:before {
    content: "\e692";
}

.iconrating:before {
    content: "\e678";
}

.iconnewusers:before {
    content: "\e66f";
}

.iconpermission:before {
    content: "\e670";
}

.iconedit:before {
    content: "\e671";
}

.iconresetpassword:before {
    content: "\e672";
}

.iconclassification:before {
    content: "\e673";
}

.iconuser:before {
    content: "\e674";
}

.iconcategory:before {
    content: "\e675";
}

.iconreview:before {
    content: "\e676";
}

.iconmodify:before {
    content: "\e677";
}

.iconhide:before {
    content: "\e66d";
}

.iconexpand:before {
    content: "\e66e";
}

.iconlogo_text:before {
    content: "\e66c";
}

.iconlogo:before {
    content: "\e66b";
}

.iconselected:before {
    content: "\e66a";
}

.iconunselected:before {
    content: "\e669";
}

.iconmobileend_submit:before {
    content: "\e668";
}

.iconmobileend_dislike:before {
    content: "\e667";
}

.iconmobileend_like:before {
    content: "\e666";
}

.iconwait:before {
    content: "\e659";
}

.iconinvalid:before {
    content: "\e65a";
}

.iconshareit:before {
    content: "\e65b";
}

.iconcalendar:before {
    content: "\e65c";
}

.iconlike:before {
    content: "\e65d";
}

.iconplayer_timeout:before {
    content: "\e65e";
}

.iconpreviouspiece:before {
    content: "\e65f";
}

.iconplaylist:before {
    content: "\e660";
}

.iconnexttrack:before {
    content: "\e663";
}

.iconplayer_play:before {
    content: "\e664";
}

.icondislike:before {
    content: "\e665";
}

.iconenable:before {
    content: "\e64e";
}

.iconChecking:before {
    content: "\e64f";
}

.icondisable:before {
    content: "\e651";
}

.iconsearchfor:before {
    content: "\e64b";
}

.icontimeout:before {
    content: "\e646";
}

.iconplay:before {
    content: "\e647";
}

.iconupload:before {
    content: "\e64a";
}

.iconbatchallocation:before {
    content: "\e64c";
}

.iconnew:before {
    content: "\e64d";
}

.iconusermanagement:before {
    content: "\e641";
}

.iconhome:before {
    content: "\e642";
}

.icondemomanagement:before {
    content: "\e643";
}

.iconsonglistmanagement:before {
    content: "\e644";
}

.iconauthoritymanagement:before {
    content: "\e645";
}